/* Contact Section */
.contact-section {
  padding: 200px 20px;
  background: #f9f9f9;
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.contact-info div {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}